#chart{
width: 100%;
height: 100%;
}

#chart, .chart-box {
padding-top: 20px;
padding-left: 10px;
background: #fff;
border: 1px solid #ddd;
box-shadow: 0 22px 35px -16px rgba(0,0,0, 0.1);
}
.grid_class1{
display: flex;
background-image: url("main_bgimage.jpg");
box-sizing: border-box;
width: 100%;
background-size: cover;
color: white;
}
.grid_class{
background-image: url("main_bgimage.jpg");
box-sizing: border-box;
width: 100%;
background-size: cover;
color: white;
}
.company_list{
max-width: 375px;
width: 375px;
border-right: 1px solid lightgray;
height: 100vh;
overflow: auto;
}
.graph_list{
width: calc(100% - 375px);
max-width: calc(100% - 375px);
}
.MuiTypography-colorTextSecondary {
color: #d5d5d3b5!important;
}
.MuiIconButton-root{
color: rgb(218, 151, 151)!important;
}
.MuiDivider-root {
background-color: #626476!important;
}
.MuiFormControl-marginNormal {
margin-top: 5px!important;
width: 100%; 
}
.MuiButton-containedPrimary {
color: #fff;
background-color: #3f51b5;
width: 100%;
}
.MuiInputBase-root{
color: #3f50b5;
}
.MuiDivider-root {
margin: 25px 0 15px;
}

/*custom class*/
body *{
box-sizing: border-box;
}
.backgroung_class{
background-image: url(bgimage.jpg);
height: 100vh;
background-size: cover;
padding: 20px 0px;
}
.main_class{
width: 500px;
margin: auto;
background-color: #faf7f7c9;
border-radius: 20px;
left: 0;
right: 0;
top: 0;
bottom: 0;
position: absolute;
padding: 70px 30px;
display: table;
max-width: calc(100% - 30px);
}
.text-center{
text-align: center;
margin: 20px auto;
}

@media (max-width: 575px){
.main_class{width: auto; padding: 25px;}
}

/*.search_value{
	color: white!important
}*/
/*.MuiInputBase-input {
    color: white!important;
}*/